### Getting started with Pandas - also called Excel or R of Python

In [1]:
import numpy as np
import pandas as pd

###### We shall start with Series

In [2]:
my_labels = ['a' , 'b', 'c']
my_data = [10, 20, 30]
my_arr = np.array(my_data)
my_dict = {'a':10, 'b':20, 'c':30}

pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
Docstring:     
One-dimensional ndarray with axis labels (including time series).

In [3]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data, index = my_labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data, my_labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(data=my_labels)

0    a
1    b
2    c
dtype: object

In [8]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [9]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [10]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [11]:
ser2 =  pd.Series([1,2,5,4],['USA','Germany','Canada','Japan'])

In [12]:
ser2

USA        1
Germany    2
Canada     5
Japan      4
dtype: int64

In [13]:
ser1+ser2

Canada     NaN
Germany    4.0
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [14]:
ser1['USA']

1

In [15]:
ser1[0]

1

In [16]:
ser1['USA']

1

The following way is not recommended as it may conflict with functions/methods in the series. The way above is the recommended way or the one above that.

In [17]:
ser1.USA

1

In [16]:
ser3 = pd.Series(data=my_labels)

In [17]:
ser3

0    a
1    b
2    c
dtype: object

In [18]:
ser1*ser2

Canada      NaN
Germany     4.0
Japan      16.0
USA         1.0
USSR        NaN
dtype: float64

#### DataFrames

In [19]:
from numpy.random import randn

In [26]:
np.random.seed(101)

##### Creating a data frame

In [27]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'],['W','X','Y','Z'])

In [28]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [30]:
df['A']

KeyError: 'A'

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
type(df['W'])

pandas.core.series.Series

In [40]:
df['new'] = df['W']+df['Y']

In [42]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [35]:
df['new']

A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: new, dtype: float64

In [43]:
df.drop('new')

ValueError: labels ['new'] not contained in axis

In [44]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

##### Drop does not happens in place.

In [45]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

To drop it inplace, need to tell inplace

In [48]:
df.drop('new',axis=1, inplace=True)

In [50]:
df.shape

(5, 4)

In [51]:
df['Z']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [57]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

##### Getting a ROW of the Matrix

In [60]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [61]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [62]:
df.iloc[2,3]

-0.58900053328658242

In [63]:
df.loc['A','Z']

0.50382575382239358

In [64]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [66]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077