### Getting started with Pandas - also called Excel or R of Python

In [2]:
import numpy as np
import pandas as pd

###### We shall start with Series

In [3]:
my_labels = ['a' , 'b', 'c']
my_data = [10, 20, 30]
my_arr = np.array(my_data)
my_dict = {'a':10, 'b':20, 'c':30}

pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
Docstring:     
One-dimensional ndarray with axis labels (including time series).

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data = my_data, index = my_labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data, my_labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data=my_labels)

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [13]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [14]:
ser2 =  pd.Series([1,2,5,4],['USA','Germany','Canada','Japan'])

In [15]:
ser2

USA        1
Germany    2
Canada     5
Japan      4
dtype: int64

In [16]:
ser1+ser2

Canada     NaN
Germany    4.0
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [18]:
ser1['USA']

1

In [19]:
ser1[0]

1

In [20]:
ser1['USA']

1

The following way is not recommended as it may conflict with functions/methods in the series

In [21]:
ser1.USA

1